<div class="container container-fluid">
    <div class="row flex-column">
        <div class="col">
            <h3 class="tabTitle">Créer une filière</h3>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="libelleFormation" class="form-label">Libellé de la formation</label>
                <select class="form-control form-select form-select mb-3" aria-label=".form-select"
                name="formation" [(ngModel)]="formation" #name="ngModel" (change)="formationSelected()">
                <option *ngFor="let f of formations" value="{{f.libelle}}">{{f.libelle}}</option>
            </select>
            </div>
        </div>
        <div class="col">
            <div class="row flex-column mt-3">
                <div class="col">
                    <h3 class="tabTitle">Stagiaires souhaitant intégrer cette formation :</h3>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nom prénom</th>
                                <th>Date d'inscription</th>
                                <th>Intégrer à la filière</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let s of stagiaires">
                                <td>{{s.nom}} {{s.prenom}}</td>
                                <td>{{s.dateInscription}}</td>
                                <td>
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="stagiairesSelect[s.id]">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        
            </div>
        </div>
        <div class="col">
            <button class="btn btn-success" (click)="createFiliere()">Créer une formation</button>
        </div>
        <div class="col mt-2" *ngIf="errorAlertMsg">
            <div class="alert alert-danger" role="alert">
                {{errorAlertMsg}}
            </div>
        </div>
        <div class="col mt-2" *ngIf="successAlertMsg">
            <div class="alert alert-success" role="alert">
                {{successAlertMsg}}
            </div>
        </div>
    </div>
</div>